@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;600&display=swap');

footer {
  display: flex;
  border-top: 1px solid grey;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  width: 97%;
  margin: 0 auto;
  padding: 1rem 0;
  font-family: 'Inter Tight', sans-serif;
}

.contact__links a {
margin-right: .5rem;
text-decoration: none;
color: inherit;
}