@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

.main__text h1 {
  line-height: 1.3;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: clamp(24px, calc(14.40px + 2.00vw), 31px);
  -webkit-font-smoothing: antialiased;
  color: #1A1A1A;
  margin: 0;
}

.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  width: 930px;
  max-width: 100%;
  overflow: hidden;
  padding: 30px 15px;
}

@media (max-width: 990px) {

}