.project-details__container {
height: 96vh;
/* overflow: auto; */
position: absolute;
top: 4vh;
/* width: 60%; */
/* width: 100%; */
background-color: white;
padding: 1rem;
border-top-left-radius: 14px;
border-top-right-radius: 14px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
/* z-index: 30; */
animation: slideIn .2s backwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(800px);
    animation-timing-function: ease-out;
  }
}
