@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;600&display=swap');

.projects {
  display: flex;
  flex-direction: row;
}

.project__title {
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.project-short__description {
  margin: 8px 0 0 0;
  font-family: 'Inter Tight', sans-serif;
  font-size: 14px;
}

.projects img {
  margin: 0 15px 0 0;
}

.project-inner__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}