  .project-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    margin-top: 35px;
    width: 100%;
  }

  @media (max-width: 988px) {
    .project-list {
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      padding-bottom: 15px;
    }
  }
  